In [1]:
# Import dependencies
import pandas as pd 
import numpy as np

In [2]:
# Read CSV file
df = pd.read_csv("country_data.csv", encoding ="unicode_escape")
df.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Canada,CAN,GDP (current US$),NY.GDP.MKTP.CD,40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,CAN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,3.16329168371298,7.42538477443719,5.34954645713648,6.64289441498821,6.31671417557232,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,CAN,GDP per capita (current US$),NY.GDP.PCAP.CD,2259.25051088642,2240.43303945853,2268.58534607907,2374.49844764883,2555.11114601309,2770.36180408145,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,CAN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,CAN,Consumer price index (2010 = 100),FP.CPI.TOTL,13.3443045220378,13.480251860332,13.6233543216943,13.845163136806,14.1099026903263,14.4390383514596,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508

In [3]:
# Drop the series code and country code 
df1 = df.drop(columns=['Series Code', 'Country Code'])
df1.head()

,Country Name,Series Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Canada,GDP (current US$),40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,GDP growth (annual %),..,3.16329168371298,7.42538477443719,5.34954645713648,6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,GDP per capita (current US$),2259.25051088642,2240.43303945853,2268.58534607907,2374.49844764883,2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,"Unemployment, total (% of total labor force) (...",..,..,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,Consumer price index (2010 = 100),13.3443045220378,13.480251860332,13.6233543216943,13.845163136806,14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508

In [4]:
# Drop country groupings such as "Africa Eastern and Southern", starting row 1521
df1=df1.iloc [:1520,:]

In [5]:
# Rename the columns by assigning a new list of column names to the columns attribute. 
new_column_names = ['country_name', 'series_name', '1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
df1.columns = new_column_names
df1.head(10)

,country_name,series_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,GDP growth (annual %),..,3.16329168371298,7.42538477443719,5.34954645713648,6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,GDP per capita (current US$),2259.25051088642,2240.43303945853,2268.58534607907,2374.49844764883,2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,"Unemployment, total (% of total labor force) (...",..,..,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,Consumer price index (2010 = 100),13.3443045220378,13.480251860332,13.6233543216943,13.845163136806,14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508
5,Canada,"Inflation, consumer prices (annual %)",1.35869565217391,1.01876675603215,1.06157112526541,1.6281512605042,1.91214470284239,2.33265720081134,3.81565906838456,3.57995226730307,...,1.51567823124521,0.93829189781521,1.90663590717873,1.12524136094279,1.4287595470108,1.5968841285297,2.268225672481,1.94926902411596,0.716999632307852,3.39519318527532
6,Canada,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,10.50637913,10.40513706,10.24852657,10.73320484,11.02296066,10.83538342,10.80637455,10.84447765,..,..
7,Afghanistan,GDP (current US$),537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,1399999966.66667,1673333417.77778,...,20203572959.5023,20564485419.1684,20550582746.8448,19998156214.3988,18019558181.9602,18896352021.94,18418848299.5825,18904490262.913,20143442150.971,14786861638.4535
8,Afghanistan,GDP growth (annual %),..,..,..,..,..,..,..,..,...,12.7522870887171,5.60074465808154,2.72454336394854,1.45131466009755,2.26031420130452,2.64700320195786,1.18922812838034,3.911603419423,-2.35110067344623,-20.7371456208414
9,Afghanistan,GDP per capita (current US$),62.3693745050559,62.4437034626929,60.9503638210144,82.0217375781519,85.5110734102311,105.243195716467,143.103233209791,167.165674606148,...,663.141052810937,651.987861948108,628.146803888496,592.476537451681,520.252064031151,530.149830802984,502.056770622973,500.522664145294,516.866552182696,368.754614175459

In [6]:
# Replace special characters ".." with naan value
df1=df1.replace("..","")
df1.replace('', np.nan, inplace=True)

In [7]:
# Calculate the total number of missing values in the dataframe
missing_values = df1.shape[0] - df1.dropna().shape[0]
missing_values

1217

In [8]:
# Drop the years with more than 70% of missing data 

# Calculate the percentage of missing values in each column
missing_percent = df1.isnull().mean(axis=0)
print(missing_percent)

# Identify the columns that have more than 70% missing data
cols_to_drop = missing_percent[missing_percent > 0.70].index

# Drop the identified columns
df1 = df1.drop(cols_to_drop, axis=1)
df1.head()

country_name    0.000000
series_name     0.000000
1960            0.782237
1961            0.716447
1962            0.709211
                  ...
2017            0.143421
2018            0.151974
2019            0.155263
2020            0.303947
2021            0.349342
Length: 64, dtype: float64

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,71829810519.8955,79148411661.6902,87896095320.1263,99271961774.6088,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,GDP growth (annual %),6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,4.99566660464043,5.04545636736964,NaN,NaN,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,GDP per capita (current US$),2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,3462.67887195794,3763.95337938417,4121.93281373693,4520.1628781257,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,4.69999980926514,5.90000009536743,6.40000009536743,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,Consumer price index (2010 = 100),14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,16.1562678878077,16.8932455638237,17.4585002862049,17.9307384087006,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508

In [9]:
# Calculate the percentage of missing values in each row
missing_percent = df1.isnull().mean(axis=1)

# Identify the rows that have more than 70% missing data
rows_to_drop = missing_percent[missing_percent > 0.7].index

# Drop the identified rows
df1 = df1.drop(rows_to_drop)

In [10]:
# Fill missing values with averages
df1.fillna(df1.mean())

/var/folders/15/df37cfyx2g99hpb0xn__7db80000gn/T/ipykernel_13416/1309062245.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.fillna(df1.mean())

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,71829810519.8955,79148411661.6902,87896095320.1263,99271961774.6088,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,GDP growth (annual %),6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,4.99566660464043,5.04545636736964,NaN,NaN,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,GDP per capita (current US$),2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,3462.67887195794,3763.95337938417,4121.93281373693,4520.1628781257,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,4.69999980926514,5.90000009536743,6.40000009536743,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,Consumer price index (2010 = 100),14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,16.1562678878077,16.8932455638237,17.4585002862049,17.9307384087006,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511,Zambia,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.93052912,4.69091034,3.82924223,4.43510246,4.47720718,4.37697697,5.03271484,5.31220293,NaN,NaN
1512,Zimbabwe,GDP (current US$),1217138000,1311435800,1281749500,1397002000,1479599900,1747998800,1884206300,2178716300,...,17114849880,19091019990,19495519630,19963120610,20548678070,17584890937.482,34156069918.0609,21832234925.5021,21509698406.1116,28371238665.5116
1513,Zimbabwe,GDP growth (annual %),-1.10617185944358,4.91057058723419,1.52313002676185,8.36700892882493,1.97013496933123,12.4282358360867,22.5651508386179,8.91758664235272,...,15.7448770803376,3.1967308868621,1.48454262162193,2.02364999592871,0.900955396308504,4.08026390333053,5.00986678330221,-6.33244640703352,-7.81695064681365,8.46801689759531
1514,Zimbabwe,GDP per capita (current US$),282.376856353524,294.893604869097,279.337779057297,295.056449265782,302.802870938147,346.538920332273,362.144146803774,406.217503262376,...,1290.19395595933,1408.36780957465,1407.03429326432,1410.32917419555,1421.78778932994,1192.10701204487,2269.17701232332,1421.86859641758,1372.69667433317,1773.92041088078
1519,Africa Eastern and Southern,GDP (current US$),26119063726.3905,29682486700.3738,32239462540.9567,33514906531.5053,36521869225.3694,41828778631.7557,44863079905.4656,49479440037.6989,...,972573424415.211,983472863852.069,1003768056233.73,924522770394.565,882721265524.166,1021118730941.08,1007240479573.39,1001017049660.46,927484450967.307,1080711605709.63

In [35]:
#Verify there are no more missing values
#missing_values = df1.shape[0] - df1.dropna().shape[0]
#missing_values
rows_with_missing_values = df1.isna().any(axis=1)

In [12]:
# Create the GDP per capita (current US$) dataframe by filtering
gdp_per_cap=df1[df1['series_name'] == 'GDP per capita (current US$)']
gdp_per_cap.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,Canada,GDP per capita (current US$),2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,3462.67887195794,3763.95337938417,4121.93281373693,4520.1628781257,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
9,Afghanistan,GDP per capita (current US$),85.5110734102311,105.243195716467,143.103233209791,167.165674606148,134.012768293881,134.250359614672,162.642175409527,166.224831269243,...,663.141052810937,651.987861948108,628.146803888496,592.476537451681,520.252064031151,530.149830802984,502.056770622973,500.522664145294,516.866552182696,368.754614175459
16,Albania,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4247.63004748194,4413.06200528903,4578.63320812155,3952.80253807527,4124.05538986272,4531.0193737689,5287.66369446913,5396.21586434732,5332.16047456847,6492.87201224634
23,Algeria,GDP per capita (current US$),238.875869572293,253.30700673044,241.000619163419,261.364116375434,292.026617970057,315.5595377067,352.53098418319,359.82458217668,...,5610.73089400516,5519.77757552373,5516.23060417242,4197.42136055142,3967.19945122178,4134.93671999429,4171.79501086373,4022.15018374716,3337.25251157504,3690.62787797599
30,American Samoa,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11920.0610903131,12038.8715916596,12313.9973571825,13101.5418159165,13300.8246114811,12372.8847825647,13195.9358995539,13672.576657298,15501.5263374397,15743.3107582991

In [13]:
# Turn dataframe from wide to long format
gdp_per_cap = gdp_per_cap.drop(columns=['series_name'])
gdp_per_cap = pd.melt(gdp_per_cap, id_vars =["country_name"], var_name = "Year", value_name = "gdp_per_cap" )
gdp_per_cap.head()

     country_name  Year       gdp_per_cap
0          Canada  1964  2555.11114601309
1     Afghanistan  1964  85.5110734102311
2         Albania  1964               NaN
3         Algeria  1964  238.875869572293
4  American Samoa  1964               NaN

In [14]:
# GDP growth (annual %)
gdp_growth=df1[df1['series_name'] == 'GDP growth (annual %)']
gdp_growth.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Canada,GDP growth (annual %),6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,4.99566660464043,5.04545636736964,NaN,NaN,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
8,Afghanistan,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.7522870887171,5.60074465808154,2.72454336394854,1.45131466009755,2.26031420130452,2.64700320195786,1.18922812838034,3.911603419423,-2.35110067344623,-20.7371456208414
15,Albania,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4172427999078,1.00201754071108,1.77444885260394,2.21872637517804,3.31498068384137,3.80222740040676,4.01935968514439,2.08806337615015,-3.48163037314293,8.51550112324915
22,Algeria,GDP growth (annual %),5.83941300773414,6.20689821106382,-4.8049709432613,9.45296256279759,10.7962385710968,8.43328028248654,8.86265711008203,-11.3317191682855,...,3.40000000029599,2.8,3.80000000016804,3.69999999958893,3.20000000006691,1.29999999991843,1.20000000049063,0.999999999741789,-5.10000000018678,3.50000000049758
29,American Samoa,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.33482810164425,-2.5,1.76282051282051,3.14960629921259,-1.67938931297709,-6.98757763975155,2.6711185308848,-0.487804878048777,5.06535947712419,-1.86625194401245

In [15]:
# Turn dataframe from wide to long format
gdp_growth = gdp_growth.drop(columns=['series_name'])
gdp_growth = pd.melt(gdp_growth, id_vars =["country_name"], var_name = "Year", value_name = "gdp_growth" )
gdp_growth.head()

     country_name  Year        gdp_growth
0          Canada  1964  6.64289441498821
1     Afghanistan  1964               NaN
2         Albania  1964               NaN
3         Algeria  1964  5.83941300773414
4  American Samoa  1964               NaN

In [16]:
# GDP (current US$)	dataframe
gdp_current=df1[df1['series_name'] == 'GDP (current US$)']
gdp_current.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,71829810519.8955,79148411661.6902,87896095320.1263,99271961774.6088,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
7,Afghanistan,GDP (current US$),800000044.444444,1006666637.77778,1399999966.66667,1673333417.77778,1373333366.66667,1408888922.22222,1748886595.55556,1831108971.11111,...,20203572959.5023,20564485419.1684,20550582746.8448,19998156214.3988,18019558181.9602,18896352021.94,18418848299.5825,18904490262.913,20143442150.971,14786861638.4535
14,Albania,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12319830437.3467,12776220507.0162,13228147516.1168,11386850129.8411,11861199830.8396,13019689336.6919,15156432309.8977,15401830754.0773,15131866270.5936,18255787479.1846
21,Algeria,GDP (current US$),2909292864.23204,3136258896.9233,3039834558.74906,3370843065.76735,3852115816.97758,4257218772.15369,4863487492.65763,5077222366.97472,...,209058991952.125,209755003250.664,213810024944.464,165979279263.174,160034163871.455,170097014589.134,174910878623.049,171767403748.19,145009181490.62,163044443983.759
28,American Samoa,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000

In [17]:
# Turn dataframe from wide to long format
gdp_current = gdp_current.drop(columns=['series_name'])
gdp_current = pd.melt(gdp_current, id_vars =["country_name"], var_name = "Year", value_name = "gdp_current" )
gdp_current.head()

     country_name  Year       gdp_current
0          Canada  1964   49377522896.703
1     Afghanistan  1964  800000044.444444
2         Albania  1964               NaN
3         Algeria  1964  2909292864.23204
4  American Samoa  1964               NaN

In [18]:
# Inflation, consumer prices (annual %) dataframe
inflation=df1[df1['series_name'] == 'Inflation, consumer prices (annual %)']
inflation.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
5,Canada,"Inflation, consumer prices (annual %)",1.91214470284239,2.33265720081134,3.81565906838456,3.57995226730307,4.05529953917053,4.56155890168291,3.34603981363828,2.70491803278688,...,1.51567823124521,0.93829189781521,1.90663590717873,1.12524136094279,1.4287595470108,1.5968841285297,2.268225672481,1.94926902411596,0.716999632307852,3.39519318527532
19,Albania,"Inflation, consumer prices (annual %)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.03159268395298,1.93762080205227,1.62586504402607,3.50120835492656,-0.367317209784628,2.0605984592022,2.02805963071136,1.41109078954248,1.62088661717004,2.04147163139546
26,Algeria,"Inflation, consumer prices (annual %)",NaN,NaN,NaN,NaN,NaN,NaN,6.59999999900016,2.62664165105633,...,8.89145091062314,3.25423910998847,2.91692692067457,4.78444700693894,6.39769480268749,5.59111590961673,4.26999020467078,1.95176821052894,2.41513094083414,7.22606307415476
47,Angola,"Inflation, consumer prices (annual %)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.2779049218839,8.77781429332618,7.28038730361125,9.35383972513758,30.6989578589225,29.8425777887099,19.6305943641961,17.0797044074954,22.2715643068877,25.7542656453085
54,Antigua and Barbuda,"Inflation, consumer prices (annual %)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.37688044338876,1.05949782356168,1.0894415743536,0.968993458825599,-0.489437796230513,2.43248789041366,1.20715793367003,1.43135598182989,0.625989707046698,2.06299638545331

In [19]:
# Turn dataframe from wide to long format
inflation = inflation.drop(columns=['series_name'])
inflation = pd.melt(inflation, id_vars =["country_name"], var_name = "Year", value_name = "inflation" )
inflation.head()

          country_name  Year         inflation
0               Canada  1964  1.91214470284239
1              Albania  1964               NaN
2              Algeria  1964               NaN
3               Angola  1964               NaN
4  Antigua and Barbuda  1964               NaN

In [20]:
# Consumer price index (2010 = 100)	
cpi=df1[df1['series_name'] == 'Consumer price index (2010 = 100)']
cpi.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Canada,Consumer price index (2010 = 100),14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,16.1562678878077,16.8932455638237,17.4585002862049,17.9307384087006,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508
11,Afghanistan,Consumer price index (2010 = 100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.005731346616,127.795223073732,133.768366733582,132.883209191418,138.708665508891,145.610741438593,146.522481857209,149.895975208032,NaN,NaN
18,Albania,Consumer price index (2010 = 100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.530381748189,107.575160377427,109.324187306059,113.151854885974,112.736228649787,115.059269640307,117.392740239274,119.049258384382,120.978911881374,123.448662047403
25,Algeria,Consumer price index (2010 = 100),NaN,NaN,NaN,NaN,NaN,2.56902453351968,2.73858015270629,2.81051283964484,...,113.81793046074,117.521838067973,120.94986420025,126.736646357875,134.844870195013,142.384203185789,148.463994714821,151.361667767746,155.017250238567,166.218894516626
46,Angola,Consumer price index (2010 = 100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125.146088077866,136.131179284704,146.042056377604,159.70259626246,208.729628988678,271.019930887709,324.2227541664,379.599042199862,464.141686991734,583.677970030201

In [21]:
# Turn dataframe from wide to long format
cpi = cpi.drop(columns=['series_name'])
cpi = pd.melt(cpi, id_vars =["country_name"], var_name = "Year", value_name = "cpi" )
cpi.head()

  country_name  Year               cpi
0       Canada  1964  14.1099026903263
1  Afghanistan  1964               NaN
2      Albania  1964               NaN
3      Algeria  1964               NaN
4       Angola  1964               NaN

In [22]:
# Unemployment, total (% of total labor force) (national estimate)
unemployment=df1[df1['series_name'] == 'Unemployment, total (% of total labor force) (national estimate)']
unemployment.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
3,Canada,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,4.69999980926514,5.90000009536743,6.40000009536743,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
17,Albania,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.3800001144409,15.8699998855591,18.0499992370605,17.1900005340576,15.4200000762939,13.6199998855591,12.3000001907349,11.4700002670288,11.6899995803833,NaN
24,Algeria,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.9700002670288,9.81999969482422,10.210000038147,11.210000038147,10.1999998092651,12,NaN,NaN,NaN,NaN
31,American Samoa,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Argentina,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,4.80000019073486,6,...,7.21999979019165,7.09999990463257,7.26999998092651,NaN,NaN,8.35000038146973,9.22000026702881,9.84000015258789,11.460000038147,8.73999977111816

In [23]:
# Turn dataframe from wide to long format
unemployment = unemployment.drop(columns=['series_name'])
unemployment = pd.melt(unemployment, id_vars =["country_name"], var_name = "Year", value_name = "unemployment" )
unemployment.head()

     country_name  Year unemployment
0          Canada  1964          NaN
1         Albania  1964          NaN
2         Algeria  1964          NaN
3  American Samoa  1964          NaN
4       Argentina  1964          NaN

In [24]:
# Current health expenditure per capita (current US$)
health_exp=df1[df1['series_name'] == 'Current health expenditure (% of GDP)']
health_exp.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
6,Canada,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.50637913,10.40513706,10.24852657,10.73320484,11.02296066,10.83538342,10.80637455,10.84447765,NaN,NaN
13,Afghanistan,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.89717579,8.80594063,9.52887058,10.10534763,11.81856155,12.62081718,14.12674332,13.24220181,NaN,NaN
20,Albania,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.05526543,5.38561106,5.50347328,4.89631176,4.91601658,5.01263571,5.23207188,NaN,NaN,NaN
27,Algeria,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.00050974,6.03576279,6.54721403,6.9784894,6.60749578,6.27938414,6.16302586,6.24337101,NaN,NaN
41,Andorra,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.12628031,6.15502787,6.13150549,6.28353453,6.30526257,6.58945513,6.75162506,6.71158504,NaN,NaN

In [25]:
# Turn dataframe from wide to long format
health_exp = health_exp.drop(columns=['series_name'])
health_exp = pd.melt(health_exp, id_vars =["country_name"], var_name = "Year", value_name = "health_exp" )
health_exp.head()

  country_name  Year health_exp
0       Canada  1964        NaN
1  Afghanistan  1964        NaN
2      Albania  1964        NaN
3      Algeria  1964        NaN
4      Andorra  1964        NaN

In [26]:
# Merge all dataframes 

merged_df1 = pd.merge(gdp_per_cap,gdp_current, right_index = False, left_index =False)
merged_df1.head()

merged_df2 = pd.merge(merged_df1,inflation, right_index = False, left_index =False)
merged_df2.head()

merged_df3 = pd.merge(merged_df2,unemployment, right_index = False, left_index =False)
merged_df2.head()

merged_df4 = pd.merge(merged_df3,cpi, right_index = False, left_index =False)
merged_df4.head()

merged_df5 = pd.merge(merged_df4,health_exp, right_index = False, left_index =False)
merged_df5.head()

merged_df6 = pd.merge(merged_df5,gdp_growth, right_index = False, left_index =False)
merged_df6.head()

,country_name,Year,gdp_per_cap,gdp_current,inflation,unemployment,cpi,health_exp,gdp_growth
0,Canada,1964,2555.11114601309,49377522896.703,1.91214470284239,NaN,14.1099026903263,NaN,6.64289441498821
1,Albania,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,1964,238.875869572293,2909292864.23204,NaN,NaN,NaN,NaN,5.83941300773414
3,Armenia,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Australia,1964,2131.27765747964,23799977601.0751,2.86624203821656,NaN,8.40270551508845,NaN,6.98006113590908

In [27]:
# Converting values to float
# Keeping only the macro economic variables
macro_df = merged_df6.iloc [:,2:9]

#Creating a loop to convert the variables into float
for column in macro_df:
    macro_df[column] = macro_df[column].astype(float)    
macro_df.dtypes

gdp_per_cap     float64
gdp_current     float64
inflation       float64
unemployment    float64
cpi             float64
health_exp      float64
gdp_growth      float64
dtype: object

In [28]:
# Adding back the country and year columns

In [29]:
print(merged_df6.shape)

(5800, 9)

In [30]:
# Drop countries with lowest amo
# Calculate the percentage of missing values in each column
macro_df.isnull().sum()
#missing_percent 
# Identify the columns that have more than 10% missing data
#cols_to_drop = missing_percent[missing_percent > 100].index
#cols_to_drop
# Drop the identified columns
#df = df.drop(cols_to_drop, axis=1)

gdp_per_cap      856
gdp_current      856
inflation        986
unemployment    2259
cpi              940
health_exp      3801
gdp_growth      1028
dtype: int64

In [31]:
#def remove_outlier(df_in, col_name):
    #q1 = df_in[col_name].quantile(0.25)
    #q3 = df_in[col_name].quantile(0.75)
    #iqr = q3-q1 #Interquartile range
    #fence_low  = q1-1.5*iqr
    #fence_high = q3+1.5*iqr
    #df_out = df_in.loc[(df_in[col_name] > fence_low) & (df_in[col_name] < fence_high)]
    #return df_out

#for column in merged_df6:
    #remove_outlier(merged_df6,column)   

#merged_df6
#print(merged_df6.shape)

In [32]:
# Removing outliers
#Q1 = df.quantile(0.25)
#Q3 = df.quantile(0.75)
#IQR = Q3 - Q1
#macro_df = merged_df6[~((merged_df6 < (Q1 - 1.5 * IQR)) |(merged_df6 > (Q3 + 1.5 * IQR))).any(axis=1)]

#print(macro_df.shape)

In [33]:
# Replace empty rows with averages

#mean_value = merged_df6["unemployment"].mean()
#merged_df6.fillna(value =mean_value, inplace = True)

# Drop the the rows with average of column 
#merged_df7.dropna(subset=['gdp_per_cap','gdp_current','inflation','unemployment','cpi','health_exp','gdp_growth'], inplace=True)

#print(merged_df6.shape)
#merged_df6.head()

In [34]:
cases = pd.read_csv("covid_data.csv")
cases.head()

FileNotFoundError: [Errno 2] No such file or directory: 'covid_data.csv'

In [ ]:
# Imports
#import numpy as np 
#import pandas as pd 
#import matplotlib.pyplot as plt


#covid_cases.boxplot(by ='country_name', column =["covid_cases"], grid = False)

#boxplot = merged_df6.boxplot(column = ['gdp_per_cap','gdp_current','inflation','unemployment','cpi','health_exp','gdp_growth'])
#plt.boxplot(merged_df8, notch = None, vert = False)
#plt.show()